<div class="jumbotron center">
	<h1 style="font-family : Pacifico; color: #c0392b;">Mollyterest</h1>
		<br>
		<p>What I Love About You!</p>
	<!-- 	<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn" %>
		</p> -->
	
</div>